$rem: 16px;
$body: #fff;
$bodyMinWidth: 320px;
$containerMaxWidth: 700px;
$fontRoboto: 'Roboto', sans-serif;
$fontEmoji: 'Segoe UI Emoji';

$color-black: #000;
$color-white: #fff;
$color-blue: #618db3;

$fontSizes: (
    8,
    10,
    12,
    14,
    16,
    18,
    20,
    24,
    48
);

$textColors: (
    "black": $color-black,
    "white": $color-white
);

$buttonColors: (
    "black": $color-black,
    "white": $color-white,
    "blue": $color-blue
);
