$rem: 16px;
$body: #fff;
$bodyMinWidth: 320px;
$fontRoboto: 'Roboto', sans-serif;

/* Color */
$color-black: #000;
$color-white: #fff;

$fontSizes: (
    8,
    10,
    12,
    14,
    16,
    18,
    20,
    24,
    48
);

$textColors: (
    "black": $color-black,
    "white": $color-white
);

$buttonColors: (
    "black": $color-black,
    "white": $color-white
);
